<div class="col">
  <div class="product-details mr-2">
    <div class="row">
      <div class="col-6">
        <h6 class="mb-0">Carrito de Compras de usuario</h6>
        <div class="d-flex justify-content-between">
          <span>Tienes 4 items en tu carrito</span>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button [routerLink]="['/shop']" class="btn btn-primary">
          Seguir comprando
        </button>
      </div>
    </div>

    <h1 class="text-center fw-bold">Mis articulos</h1>

    <div class="container text-center"  *ngIf="hasProducts;else elseBlock"><h1>No tienes productos en el carrito,</h1>
      <h4>sigue navegando y encuentra lo que necesitas</h4></div>

      <ng-template #elseBlock></ng-template>
    <!--Items start-->
    <div class="container items rounded"
    *ngFor="let product of productsInCart"
    style="height: 64px">
      <div class="row pt-2">
        <div class="col-2 d-flex justify-content-center align-items-center">
          <img
            class="rounded"
            src="{{product.image}}"
            alt="Img"
            srcset=""
            style="height: 48px; width: 48"
          />
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-6 product cut text-nowrap">{{product.title}}</div>
          </div>
          <div>
            <div class="col-6 description text-nowrap">Cantidad {{product.quantity}}</div>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-end align-items-center">
 <!--         <i
            [ngClass]="{
              'bi bi-pencil': !pencilFill,
              ' bi bi-pencil-fill': pencilFill
            }"
            (mouseover)="fillPencil()"
            (mouseleave)="fillPencil()"
          ></i>-->
          <div class="col-1 " ><i  class="bi bi-pencil" ></i></div>
          <div class="col-1 " ><i (click)="borrar(product.id)" class="bi bi-trash" ></i></div>

          <div class="col-2"><h6>${{product.price}}</h6></div>

        </div>
      </div>
    </div>
    <!--Items end-->
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-10"><h2>Total</h2></div>
        <div class="col-2"><h6 >suma</h6></div>


      </div>

    </div>
  </div>
</div>

