<div class="col">
  <div class="product-details mr-2">
    <div class="row">
      <div class="col-6">
        <h6 class="mb-0">Carrito de Compras de usuario</h6>
        <div class="d-flex justify-content-between">
          <span>Tienes 4 items en tu carrito</span>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button [routerLink]="['/shop']" class="btn btn-primary">
          Seguir comprando
        </button>
      </div>
    </div>

    <h1 class="text-center fw-bold">Mis articulos</h1>

    <!--Items start-->
    <div class="container items rounded" style="height: 64px">
      <div class="row pt-2">
        <div class="col-2 d-flex justify-content-center align-items-center">
          <img
            class="rounded"
            src="https://th.bing.com/th/id/OIP.2bNUJ-z5UnaJfuclcYMWAgHaEK?pid=ImgDet&rs=1"
            alt="Img"
            srcset=""
            style="height: 48px; width: 48"
          />
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-6 product text-nowrap">1</div>
          </div>
          <div>
            <div class="col-6 description text-nowrap">Descripcion corta</div>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-end align-items-center">
    <i [ngClass]="{'bi bi-pencil': !pencilFill, ' bi bi-pencil-fill': pencilFill}"
          (mouseover)="fillPencil()"
          (mouseleave)="fillPencil()"></i>
          <i [ngClass]="{'bi bi-trash': !trashFill, ' bi bi-trash-fill': trashFill}"
          (mouseover)="fillTrash()"
          (mouseleave)="fillTrash()"></i>
          <h6 class="">$Precio</h6>
        </div>
      </div>
    </div>
    <!--Items end-->
    <hr />
    <div class="container">

    </div>

  </div>
</div>
