<div class="container pr-5">
  <h1 class="text-center">Carga de producto y/o servicio</h1>
  <div class="container px-3 py-2 bordes">
    <form [formGroup]="form" >
      <div class="form-group">
        <label for="title">titulo</label>
        <input type="text" class="form-control"
        formControlName="title" required>
        <div class="row" *ngIf="titleControl.invalid && (titleControl.dirty || titleControl.touched)">
          <p class="col error" *ngIf="titleControl.errors?.['minlength']">Minimo 4 caracteres</p>
          <p class="col error" *ngIf="titleControl.errors?.['maxlength']">Maximo 25 caracteres</p>
          <p class="col error" *ngIf="titleControl.errors?.['required']">Campo requerido</p>
        </div>


      </div>

      <div class="mb-3">
        <label for="description" class="form-label" >Descripcion</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Ingresar imagen</label>
        <input class="form-control" type="file" id="formFile" />
      </div>

      <div class="form-group">
        <label for="precio">precio</label>
        <input type="number" class="form-control" formControlName="price" placeholder="$0.00"/>
      </div>

      <div class="form-group">
        <label for="cantidad">cantidad</label>
        <input type="number" class="form-control" formControlName="quantity"
         required/>
      </div>
      <div class="row" *ngIf="quantityControl.invalid && (quantityControl.dirty || quantityControl.touched)">
        <p class="col error" *ngIf="quantityControl.errors?.['required']">Campo requerido</p>
        <p class="col error" *ngIf="quantityControl.errors?.['min']">Cantidad debe ser mayor a cero.<p>
      </div>

      <div class="form-group">
        <label for="preferencias">preferencias</label>
        <input type="text" class="form-control" formControlName="preferences"/>
      </div>

      <div class="form-group">
        <label for="category">categoria</label>
        <input type="text" class="form-control" formControlName="category"/>
      </div>

      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="readCheck"
          formControlName="readCheck"
        />
        <label class="form-check-label" for="readCheck">
          Leí y estoy de acuerdo con las condiciones de uso de la plataforma.
        </label>
      </div>
      <button [disabled]="form.invalid || form.pending" type="submit"
       (click)="addProduct()" class="mt-3 btn btn-primary">Agregar</button>
    </form>
  </div>
</div>

<pre> {{form.value | json}}</pre>
