
     <!-- FOOTER -->
     <footer class="main-background fixed-bottom bg-dark text-center">
        <ol>
          <li>
            <a class="nav-link" [routerLink]="['/login']">
              <p>Ingresar</p>
            </a>
          </li>
          <li>
            <a href="Frontend/Vista/publicaciones.html">
              <p>Publicaciones</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Categorias</p>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/quienessomos']">
              <p>Quienes somos</p>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/tyc']">
              <p>Términos y condiciones</p>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/preguntasfrecuentes']">
              <p>Preguntas frecuentes</p>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/contacto']">
              <p>Contacto</p>
            </a>
          </li>
          <li>
            <a href="Frontend/Vista/registro.html">
              <p>Sumate</p>
            </a>
          </li>
        </ol>
        <a href="index.html"><p></p><strong>TRU</strong>w<strong>E</strong>b<strong>QUE</strong></a>
      </footer>
