footer{
  background-color: black;
  color: #e4d4d4;
}

footer a{
  text-decoration: none;
}
.col-md-2 a{
  background-color: rgb(226, 141, 43);
  border-radius: 5px;
}

#titulo-pie a{
  color: whitesmoke;
  font-size: 130%;
}

section ul li a i{
  filter: invert(100%);

}  



 
