<h1>Condiciones de Uso para el Intercambio de Productos en Truwebque</h1>
<p>
Bienvenido/a <strong>Truwebque</strong> (en adelante, "Sitio web"). Antes de utilizar nuestro sitio web, te invitamos a leer detenidamente las siguientes Condiciones de Uso. Al acceder y utilizar nuestro sitio web, aceptas cumplir con estas condiciones en su totalidad. Si no estás de acuerdo con alguna de las siguientes condiciones, te recomendamos que no utilices nuestro sitio web.
</p>
<h2>Aceptación de las Condiciones de Uso:</h2>
<p>Al acceder y utilizar nuestro sitio web, aceptas y te comprometes a cumplir con estas Condiciones de Uso, así como con todas las leyes y regulaciones aplicables. Si no estás de acuerdo con alguna de las condiciones establecidas, te pedimos que no utilices nuestro sitio web.
</p>
<h4>Intercambio de Productos:</h4>
<p>Nuestro sitio web facilita el intercambio de productos entre los usuarios registrados. Al utilizar nuestro sitio web para realizar intercambios de productos, aceptas que eres el único responsable de los productos que ofreces y recibes. No nos hacemos responsables de la calidad, autenticidad, estado o legalidad de los productos intercambiados. Te recomendamos verificar y evaluar cuidadosamente los productos antes de aceptar cualquier intercambio.
</p>
<h4>Cuentas de Usuario:</h4>

<p>Al crear una cuenta en nuestro sitio web, te comprometes a proporcionar información precisa y completa. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y aceptas notificarnos de inmediato cualquier uso no autorizado de tu cuenta. Eres responsable de todas las actividades realizadas a través de tu cuenta.
</p>
<h4>Responsabilidad del Usuario:</h4>
<p>Eres el único responsable de todas las interacciones y transacciones que realices a través de nuestro sitio web. Aceptas cumplir con todas las leyes y regulaciones aplicables relacionadas con el intercambio de productos. No podrás utilizar nuestro sitio web para intercambiar productos ilegales, fraudulentos o prohibidos por ley.
</p>

<h4>Información del Usuario:</h4>
<p>Cuando utilices nuestro sitio web, podrás proporcionar cierta información personal, como tu nombre, dirección y datos de contacto. Nos comprometemos a proteger tu información personal de acuerdo con nuestra Política de Privacidad. Al proporcionar tu información, garantizas que es precisa, actual y completa, y aceptas que no seremos responsables de ninguna información incorrecta o incompleta proporcionada por ti.
</p>

<h4>Propiedad Intelectual:</h4>
<p>El contenido y los materiales presentes en nuestro sitio web, incluidos, entre otros, el diseño, los textos, los gráficos, las imágenes, los logotipos, los iconos, los videos, las grabaciones de audio, las descargas digitales y el software, están protegidos por las leyes de propiedad intelectual. No podrás utilizar, copiar, distribuir, transmitir o modificar ningún contenido protegido sin nuestro permiso expreso por escrito.
</p>

<h4>Limitación de Responsabilidad:</h4>
<p>En ningún caso seremos responsables por daños directos, indirectos, incidentales, especiales o consecuentes derivados del uso de nuestro sitio web, incluidos, entre otros, la pérdida de beneficios, la pérdida de datos o la interrupción del negocio.
</p>


Estas Condiciones de Uso pueden actualizarse o modificarse ocasionalmente. Te recomendamos revisar esta página periódicamente.
