.dismiss{
  animation: myAnim 2s linear 3s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.btn-1{
  transition: .3s all;
}
.btn-1:hover{
  transform: scale(1.2);
}
