.dismiss{
  animation: myAnim 2s linear 3s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.btn-1{
  transition: .1s all;
  background-color: orange;
  border: black;
  color: black;
}
.btn-1:hover{
  transform: scale(0.9);
}

#main-productos{
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: 1%;
	margin-right: 1%;
}