<div class="container text-center">
  <div *ngIf="isEmpty"><h1>No hay publicaciones que mostrar</h1></div>
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row row-cols-5 align-items-start">
    <div
    *ngFor="let product of products"
      class="card p-3 m-3 text-truncate"
      style="width: 10rem"
    >
      <img
        src="https://th.bing.com/th/id/R.dc5e5867cabdb00c44433dac2c87c736?rik=0RpcniOFTFBBcw&riu=http%3a%2f%2fwww.pepsico.cl%2fimages%2flibrariesprovider40%2fdefault-album%2fvb3_montaje-productos-pepsico2e33c3aeef576d378be6ff5000e253d8.jpg%3fsfvrsn%3d1&ehk=DWzgEvkO%2fu8RcjcZYgkjXFxQRKrjMqoYosTD6FAvypE%3d&risl=&pid=ImgRaw&r=0"
        class="card-img-top"
        alt="imagen"
      />
      <div class="card-body">
        <p class="card-text cut">{{ product.titulo }}</p>
        <hr />

        <div class="row justify-content-center align-items-end">
          <div class="col" *ngIf="product.estado; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>Condicion "Nuevo"</ng-template>
          <ng-template #elseBlock>Condicion "Usado"</ng-template>
          <div class="col">
            <button
              class="btn btn-primary fs-6 text-nowrap"
              (click)="publishById(product.id_publicacion)"
              >
              Ver mas
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
