<div class="modal fade" role="dialog" tabindex="-1" id="staticBackdrop" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="text-right"><i class="fa fa-close close" data-dismiss="modal"></i></div>
              <div class="tabs mt-3">
                  <ul class="nav nav-tabs" role="tablist" id="myTab">
                      <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" id="visa-tab" data-toggle="tab" href="#visa" aria-controls="visa" aria-selected="true"><img src="https://i.imgur.com/sB4jftM.png" width="80"></a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" id="paypal-tab" data-toggle="tab" href="#paypal" aria-controls="paypal" aria-selected="false"><img src="https://i.imgur.com/yK7EDD1.png" width="80"></a></li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane active fade show" role="tabpanel" id="visa" aria-labelledby="visa-tab">
                          <div class="mt-4 mx-4">
                              <div class="text-center">
                                  <h5>Tarjeta de crédito o debito.</h5>
                              </div>
                              <div class="form mt-3">
                                  <div class="inputbox"><input type="text" name="name" class="form-control" required="required"><span>Nombre como figura en tarjeta</span></div>
                                  <div class="inputbox"><input type="text" name="name" min="1" max="999" class="form-control" required="required"><span>Numero de tarjeta</span><i class="fas fa-eye"></i></div>
                                  <div class="d-flex flex-row">
                                      <div class="inputbox"><input type="text" name="name" min="1" max="999" class="form-control" required="required"><span>Fecha Vencimiento MMAA</span></div>
                                      <div class="inputbox"><input type="text" name="name" min="1" max="999" class="form-control" required="required"><span>CVV</span></div>
                                  </div>
                                  <div class="px-5 pay"><button class="btn btn-success btn-block">Suscribirme</button></div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" role="tabpanel" id="paypal" aria-labelledby="paypal-tab">
                          <div class="px-5 mt-5">
                              <div class="inputbox"><input type="text" name="name" class="form-control" required="required"><span>Paypal Email Address</span></div>
                              <div class="pay px-5"><button class="btn btn-primary btn-block"> Add paypal </button></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
