<!-- Formulario de Login -->
<main role="main">

<div class="container">

    <div class="login-box">  
    <h2>Login</h2>
    <form>
        <div class="user-box">
          <input type="text" class="campo"  name="" value="" placeholder="Usuario">  
        </div>

        <div class="user-box">
          <input type="password" class="campo" name="" value="" placeholder="Contraseña">  
        </div>
        
        <div class="button-form">
          <a id="submit" href="#">Ingresar</a>
            <div id="register">
                ¿No tienes una cuenta aún? 
                <!-- <a href="registro.html">Registrate</a> -->
            </div>   
        </div>

    </form>
  
    </div>     

</div> 

 