<!-- Formulario de Login -->

<div class="container">

    <div class="login" id="login-box">  
    <h2>Login</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="user-box">
          <input type="email" class="form-control"  placeholder="Email" required formControlName="email">  
        </div>
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
      class="alert alert-danger">This field is required.</div>

    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['minlength']"
      class="alert alert-danger">Name must be longer than
      {{ loginForm.get('email')?.errors?.['minlength']?.requiredLength}} characters.</div>

     


        <div class="user-box">
          <input type="password"  class="campo"   name="password" placeholder="Contraseña" required>  
        </div>
        
        <div class="button-form">         
          <!-- <button type="submit" id="submit" (click)="getUser()">Ingresar</button> -->
          <button type="submit" id="submit">Ingresar</button>
            <div id="register">
                ¿No tienes una cuenta aún? 
                <a [routerLink]="['/register']" style="color: orange;">Registrate</a>
            </div>   
        </div>

    </form>
  </div>     

</div> 
<br>
<br>
<hr>
<section id="test">

<h4>API Rest de Prueba - Traer Usuarios</h4>
<br>
<button type="submit" id="submit" (click)="show =!show">Lista Usuarios</button>

<!-- Tabla que Muestra los datos traidos -->
  <table class="table table-responsive table-hover">

    <tbody id="tabla" *ngIf="!show">

      <th><strong>Nombre</strong></th>
      <th><strong>Apellido</strong></th>
      <th><strong>Correo</strong></th>
      <th><strong>Perfil</strong></th>

      <tr *ngFor="let usuario of users">
      
        <td>{{usuario.first_name}}</td>
        <td>{{usuario.last_name}}</td>
        <td>{{usuario.email}}</td>
        <td><img [src]=usuario.avatar alt="foto"></td>
      </tr>
    </tbody>


  </table>

</section>








<br>
<br>
<br>

<!-- <script type="text/javascript">
  function myFun() {

    document.getElementById("login-box").style.display = "none";
    document.getElementById("tabla-usuarios").style.display = "contents";
    }

</script> -->

 