
     
  
      <div class="container-marketing">
        <div class="row">
          <div class="col-lg-4">
            <p></p>
            <img class="bd-placeholder-img rounded-circle" src="Frontend/Vista/img/electro.jpg" alt="" width="140"
              height="140" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice" role="img">
            <title>Placeholder</title>
  
            <h2>Electro</h2>
            <p>.</p>
            <p><a class="btn btn-secondary" id="btn"  href="Frontend/Vista/publicaciones.html" role="button">Ingresar &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <p></p>
            <img class="bd-placeholder-img rounded-circle" src="../../assets/objetos.jpg" alt="" width="140"
              height="140" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice" role="img">
            <title>Placeholder</title>
  
            <h2>Objetos</h2>
            <p>.</p>
            <p><a class="btn btn-secondary" id="btn"  href="Frontend/Vista/publicaciones.html" role="button">Ingresar &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <p></p>
            <img class="bd-placeholder-img rounded-circle" src="../../assets/ropa.jpg" alt="" width="140" height="140"
              xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
              role="img">
            <title>Placeholder</title>
  
            <h2>Ropa</h2>
            <p>.</p>
            <p><a class="btn btn-secondary" id="btn"  href="Frontend/Vista/publicaciones.html" role="button">Ingresar &raquo;</a></p>
          </div>
        </div>
  
  
        <!-- START THE FEATURETTES -->
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">No tires lo que ya no te sirve<span class="text-muted">.</span></h2>
            <p class="lead">Si tenes objetos que solo ocupan lugar en tu hogar y no sabes qué hacer con ellos, desde
              TRUwEbQUE te hacemos saber que hay miles de Argentinos que seguramente serían felices con ellos en su poder.
            </p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
              src="../../assets/truque3.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" role="img">
            <title>Placeholder</title>
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Intercambia todo aquello que no usas<span class="text-muted">.</span></h2>
            <p class="lead">No solo lograrás hacer más espacio en tu hogar, sino que como recompensa podrás obtener algún
              otro elemento o servicio de tu interés. Sin gastar dinero, y ayudando a nuestro medio ambiente!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              src="../../assets/truque1.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" role="img">
            <title>Placeholder</title>
  
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Conectate con el mundo del trueque<span class="text-muted">.</span></h2>
            <p class="lead">Conocerás gente nueva, de tu zona, o de otros lugares del país. Esto te permitirá crear una
              red de nuevos contactos con los que poder intercambiar más elementos en un futuro.</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              src="../../assets/truque2.jpg" width="500" height="500" xmlns="http://www.w3.org/2000/svg"
              aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" role="img">
            <title>Placeholder</title>
  
          </div>
        </div>
  
        <hr class="featurette-divider">
  
   
 